<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="steps">
        <div class="numbers">
            <div class="step-1">1</div>
            <div class="step-2">2</div>
            <div class="step-3">3</div>
        </div>

        <p class="message">Step {step}: {messages[step - 1]}</p>

        <div class="buttons">
            <button class="prevBtn">Previous</button>
            <button class="nextBtn">Next</button>
        </div>
    </div>
</body>
<script>
    const messages = [
  "Learn React ⚛",
  "Apply for jobs 💼",
  "Invest your new income 🤑",
];

    const step1 = document.querySelector('.step-1');
    const step2 = document.querySelector('.step-2');
    const step3 = document.querySelector('.step-3');
    const message = document.querySelector('.message');
    const btnPrev = document.querySelector('.prevBtn');
    const btnNext = document.querySelector('.nextBtn');

    //state
    let state = 1;

    //Manually updating the DOM: Changing text content and adding/removing classes (imperative approach)

    const updateUI = function() {
        message.textContent = `Step ${step}: ${messages[step - 1]}`;
        if(step >= 1) step1.classList.add('active');
        else step1.classList.remove('active');
        if(step >= 2) step2.classList.add('active');
        else step2.classList.remove('active');
        if(step === 3) step3.classList.add('active');
        else step3.classList.remove('active');
    }

    //initial rendering
    updateUI();

    //manually attaching event handler

    btnPrev.addEventListener('click', function() {
        if(state > 1) {
            state--;
            updateUI();
        }
    });

    btnNext.addEventListener('click', function() {
        if(state < 3) {
            state++;
            updateUI();
        }
    });
</script>

</html>